@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap");
body {
  font-family: "Noto Serif JP", serif;
  background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
.logo {
  display: block;
  width: 10%;
  height: auto;
  margin: auto;
}
.app {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
